#ccc {
    height: 700px;
    width: 700px;
    border: 1px solid red;
    display: flex;
    flex-direction: row-reverse;
}

.dd {
    height: 150px;
    width: 150px;
    background-color: blue;
    
}