* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#green {
    height: 150px;
    width: 150px;
    background-color: green;
    z-index: 1;
}
#blue {
    background-color: blue;
    width: 250px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 40px;
    z-index: 2;
}
#red {
    background-color: red;
    height: 80px;
    width: 200px;
    position: absolute;
    top: 40px;
    left: 100px;
    z-index: 3;

}
