* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
  display: flex;
}

.box {
  flex: 1;
  height: 100px;
  background: lightblue;
  transition: 0.3s;
}


.box:hover {
  background: orange;
}

.grow:hover {
  flex-grow: 3;
}