* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  */
.mot {
    height: 300px;

    width: 200px;
    border: 2px solid red;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


}

#s2 {
    border: 2px solid red;
    align-self: end;
}


#s3 {
    align-self: end;
}
/*  */


.mothh {
    height: 800px;
    width: 600px;
    border: 2px solid  green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

#so2 {
    align-self: self-start;
}
/*  */
.moth {
    height: 400px;
    width: 300px;
    border: 2px solid  green;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#son1 {
    align-self: end;
}


#son2 {
    align-self: first baseline;
}

/*  */
.container {
  display: flex;
}

.box {
  width: 100px;
  height: 100px;
  background: lightblue;
  border: 1px solid white;
}

.grow {
    width: 100px;
    height: 100px;
    background: lightblue;
    border: 1px solid black;
    flex-grow: 1;
}
/*  */
.nv {
  display: flex;
  align-items: center;
  background: #333;
  padding: 10px;
}

.logo {
  width: 50px;
}

.menu {
  display: flex;
  list-style: none;
  gap: 20px;
  flex-grow: 1;
  justify-content: center;
  color: white;
}

.btn {
  padding: 8px 15px;
}

/*  */















